.formContainer {
  position: sticky;
  top: 1px;
  padding: 50px 0 10px 0;
  background-color: var(--n10);
}

.form {
  position: relative;
}

.form input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--n40);
  border-radius: 10px;
  padding: 0 80px 0 20px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--n10);
}

.form input:focus {
  outline: 2px solid var(--n70);
}

.form button {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: var(--n70);
  color: var(--n10);
  font-weight: 500;
  border: 0;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--n80);
}

@media (max-width: 515px) {
  .formContainer {
    padding: 20px 0 10px 0;
    position: static;
  }
}
