.table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.table th {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--n60);
  border-bottom: 1px solid var(--n40);
  padding: 6px 6px;
}

.table td {
  font-size: 14px;
  color: var(--n70);
  border-bottom: 1px solid var(--n40);
  padding: 6px 6px;
}

.diff {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  color: var(--n60);
}

.name {
  display: flex;
  align-items: center;
  gap: 6px;
}

.trash {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: var(--n10);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.name:hover .trash {
  opacity: 1;
}

.trash:hover {
  background-color: var(--n30);
}
