.logo {
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 0 0 0;
  background-color: var(--n10);
  z-index: 999;
}

.account {
  position: relative;
}

.avatarBtn {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block !important;
}

.avatar {
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid transparent;
  display: block !important;
}

.avatarBtn:hover .avatar {
  border-color: var(--n60);
}

.avatar.openAvatar {
  border-color: var(--n70) !important;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--n10);
  border: 1px solid var(--n40);
  width: 190px;
  border-radius: 10px;
  padding: 10px 0;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.1);
}

.dropdown.open {
  opacity: 1;
  pointer-events: all;
}

.dropdown button {
  border: 0;
  background-color: transparent;
  padding: 4px 10px;
  margin: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  color: var(--n70);
}

.dropdown button:hover {
  background-color: var(--n30);
}

.dropdown hr {
  height: 1px;
  background-color: var(--n40);
  border: 0;
}

@media (max-width: 515px) {
  .header {
    position: static;
  }
}
