:root {
  --n10: #ffffff;
  --n20: #f8f8f8;
  --n30: #eeeeee;
  --n40: #e5e5e5;
  --n50: #999999;
  --n60: #636363;
  --n70: #252628;
  --n80: #000000;

  --line: #3880f6;
  --good: #008844;
  --bad: #cb1414;

  --darkRedBg: color-mix(in oklab, darkred 10%, #fff 100%);
  --darkRedText: color-mix(in oklab, darkred 100%, #000 10%);
  --redBg: color-mix(in oklab, red 10%, #fff 100%);
  --redText: color-mix(in oklab, red 100%, #000 25%);
  --pinkBg: color-mix(in oklab, pink 40%, #fff 100%);
  --pinkText: color-mix(in oklab, pink 100%, #000 50%);
  --yellowBg: color-mix(in oklab, orange 20%, #fff 100%);
  --yellowText: color-mix(in oklab, orange 100%, #000 50%);
  --greenwBg: color-mix(in oklab, green 10%, #fff 100%);
  --greenText: color-mix(in oklab, green 100%, #000 10%);
}

.dark-mode {
  --n10: #000000;
  --n20: #111;
  --n30: #222;
  --n40: #333;
  --n50: #555;
  --n60: #777;
  --n70: #eee;
  --n80: #ffffff;

  --darkRedBg: color-mix(in oklab, darkred 50%, #000 100%);
  --darkRedText: color-mix(in oklab, darkred 100%, #fff 20%);
  --redBg: color-mix(in oklab, red 50%, #000 100%);
  --redText: color-mix(in oklab, red 100%, #fff 50%);
  --pinkBg: color-mix(in oklab, pink 40%, #000 100%);
  --pinkText: color-mix(in oklab, pink 100%, #fff 50%);
  --yellowBg: color-mix(in oklab, orange 75%, #000 100%);
  --yellowText: color-mix(in oklab, orange 100%, #fff 75%);
  --greenBg: color-mix(in oklab, green 75%, #000 100%);
  --greenText: color-mix(in oklab, green 100%, #fff 80%);
}

* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Avenir Next,
    Segoe UI,
    Roboto !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  background-color: var(--n10);
}

svg {
  display: block;
}

.dark-fill {
  fill: var(--n70);
}

.light-fill {
  fill: var(--n10);
}

/**
 * Font sizes
 */
.lg {
  font-size: 18px;
  line-height: 26px;
}

.sm {
  font-size: 14px;
  line-height: 20px;
}

.xs {
  font-size: 12px;
  line-height: 18px;
}

.n70 {
  color: var(--n70);
}

/**
 * Font weights
 */
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

/**
 * Buttons
 */
.btn {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0 20px;
}

.btn-white {
  border-color: var(--n40);
  background-color: var(--n10);
}

.btn-white span {
  color: var(--n70);
}

.btn-white:hover {
  background-color: var(--n20);
}

.btn-black {
  border-color: var(--n70);
  background-color: var(--n70);
  color: var(--n10);
}

.btn-black span {
  color: var(--n10);
}

.btn-black:hover {
  background-color: var(--n80);
}

.btn-block {
  width: 100%;
}

/**
 * Page
 */
#page {
  background-color: var(--n10);
  min-height: 100vh;
}

/**
 * Login page
 */
#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.login-content {
  max-width: 340px;
  margin-top: -10vh;
}

.login-content .logo {
  text-align: center;
  margin-bottom: 50px;
}

.login-content .logo svg {
  display: inline-block;
}

.login-container {
  padding: 50px 30px;
  border: 1px solid var(--n40);
  border-radius: 8px;
}

.login-container h1 {
  margin-bottom: 4px;
}

.login-container p {
  margin-bottom: 20px;
}

.login-providers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/**
 * Main
 */
main {
  width: 515px;
  margin: 0 auto;
  padding-top: 60px;
}

@media (max-width: 515px) {
  main {
    width: calc(100% - 40px);
    padding-top: 20px;
  }
}

@media (max-width: 357px) {
  #login-page {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .login-container {
    padding: 30px 20px;
  }
}
